:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 300px;
    height: 500px;
    border-radius: 6px;
    border: 3px solid #fff;
    background-color: black;
    background: linear-gradient(45deg, #941eac, #28272d);
    
}
.imagem{
    display: flex;
    justify-content: center;
}

.fundo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
    border: 3px solid #ffffff90;

}
.texto{
    padding: 20px;
}
.text-main{
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.desc{
    color: #fff;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
}

.button-85 {
    margin: auto;
    display: flex;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

